.code-border {
    border: 2px solid;
    border-image-slice: 1;
    border-width: 2px;
    border-image-source: linear-gradient(to right bottom, #ffffff38, #ffffff00);
}
.timeline-line{
    height: 42px;
    width: 0px;
    border: 1px solid;
    border-color: var(--color-richblack-100);
    border-style: dashed;
}
.selectedTab {
    background-color: var(--color-richblack-900);
    color: white;
}